.todo__alert--danger {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    text-align: left;
}

.select_content {
    margin: 0 auto;
    max-width: 1230px;
    text-align: center;
}

.select-form {
    width: 300px;
    margin: 0 auto;
}

.select-form__group {
    display: flex;
}

.select-form__title {
    width: 100px;
    text-align: left;
}

.select-form__item {
    align-items: center;
    padding-top: 15px;
}

.select-form__button {
    margin-top: 20px;
    text-align: center;
}
